.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
webpack.config.js
tsconfig.json
.eslintrc.json
.prettierrc
*.vsix
.editorconfig
.github/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/*.map
**/*.ts